* {
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bg-principal {
    /*background-image: url("/assets/images/bg-laptops.png");*/
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(253, 253, 253, 0.2), rgba(255, 255, 255, 0.2)), url("/assets/images/bg-laptops.png");
    background-repeat: no-repeat, repeat;
    background-size: cover;
}

main {
    border-radius: 25px;
    background-color: white;
    width: 95%;
    height: 95%;
    justify-content: center;
    vertical-align: middle;
    display: inline-flex;
}

#principal {
    width: 70%;
    background-image: linear-gradient(to bottom, rgba(137, 33, 107, 0.9), rgba(196, 59, 90, 0.8)), url("/assets/images/bg-desktop.png");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    height: 100%;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}

#navbar {
    width: 95%;
    margin: auto;
}

#navbar article {
    display: inline-block;
    vertical-align: middle;
    padding: 25px;
    text-decoration: none;
}

.item-menu {
    padding: 25px;
    text-decoration: none;
    color: white;
    opacity: 0.7;
    position: relative;
}

.item-menu::after {
    content: '';
    width: 0%;
    height: 5px;
    background: transparent;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #fff, #fff);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #fff, #fff);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: absolute;
    bottom: 0%;
    left: 50%;
    position: absolute;
    border-radius: 10px;
    transition: all 500ms ease;
}

.active::after {
    content: '';
    width: 100%;
    height: 5px;
    background: transparent;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #fff, #fff);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #fff, #fff);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: absolute;
    bottom: 0%;
    left: 0%;
    position: absolute;
    border-radius: 10px;
    transition: all 500ms ease;
}

.item-menu:hover {
    opacity: 1;
}

.item-menu:hover::after {
    left: 0%;
    width: 100%;
    opacity: 1;
}

.active {
    color: white;
    opacity: 1;
}

#navbar article:nth-child(3) {
    float: right;
    margin-top: 20px;
}

#navbar article:nth-child(3) button {
    padding-top: 15px;
    padding-bottom: 15px;
    border: solid white 2px;
    background-color: transparent;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
    font-weight: bold;
}

#navbar article:nth-child(3) button:hover {
    padding-top: 15px;
    padding-bottom: 15px;
    border: solid white 2px;
    background-color: rgba(255, 255, 255, 0.3);
    padding-left: 50px;
    padding-right: 50px;
    color: white;
    font-weight: bold;
}

.section-content {
    width: 95%;
    height: 80%;
    margin: auto;
    display: flex;
    justify-content: start;
    align-items: center;
}

.section-content h4 {
    margin-left: 25px;
    margin-top: -160px;
    width: 100%;
    vertical-align: middle;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 50px;
    letter-spacing: 2px;
    word-spacing: 2px;
}

.section-content button {
    margin-left: 25px;
    border-style: solid;
    border-color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 45px;
    padding-right: 45px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border-radius: 5px;
    margin-top: 20px;
}

.section-footer {
    width: 95%;
    margin: auto;
}

.section-footer article {
    display: inline;
}

.section-footer #copyrigth {
    float: right;
    color: white;
}

.item-menu-footer {
    padding-right: 15px;
    padding-left: 15px;
    text-decoration: none;
    color: white;
    opacity: 1;
}

#carousel {
    width: 30%;
}

#carousel section {
    margin: auto;
}

#carousel section:nth-child(1) {
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: start;
    align-items: center;
}

.text-carousel {
    padding-bottom: 25px;
    margin: auto;
    width: 100%;
    text-align: center;
    justify-content: center;
    font-size: 60px;
    color: orange;
}

.btn-cv {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    border: orange solid 2px;
    background-color: transparent;
    color: orange;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
    font-size: 20px;
}

.btn-cv:hover {
    background-color: orange;
    color: white;
    cursor: pointer;
}


/**PRUEBA CSS**/

.slider {
    width: 95%;
    margin: auto;
    overflow: hidden;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 20s infinite alternate linear;
}

.slider li {
    width: 100%;
    list-style: none;
}

.slider img {
    width: 100%;
}

@keyframes cambio {
    0% {
        margin-left: 0;
    }
    20% {
        margin-left: 0;
    }
    25% {
        margin-left: -100%;
    }
    45% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    100% {
        margin-left: -300%;
    }
}