<body class="bg-principal">
    <main>
        <div id="principal">

            <nav id="navbar">
                <article><img src="/assets/images/logo.png" alt=""></article>
                <article>
                    <a class="item-menu" [routerLink]="['/Inicio']" routerLinkActive="active">INICIO</a>
                    <a class="item-menu" [routerLink]="['/Acerca']" routerLinkActive="active">ACERCA DE </a>
                    <a class="item-menu" [routerLink]="['/Contacto']" routerLinkActive="active">CONTACTO</a>
                    <a class="item-menu" [routerLink]="['/Portafolio']" routerLinkActive="active">PORTAFOLIO</a>
                </article>
                <article>
                    <button>REST HOSTING</button>
                </article>
            </nav>

            <router-outlet></router-outlet>

            <section class="section-footer">
                <article>
                    <a class="item-menu-footer" href="https://www.facebook.com/jose.pinedoolivera" target="_balnk"><img src="assets/images/fb.png" alt=""></a>
                    <a class="item-menu-footer" href="https://www.pinterest.es/cesarspinedooli/" target="_balnk"><img src="assets/images/pin.png" alt=""></a>
                    <a class="item-menu-footer" href="https://github.com/CesarsEren" target="_balnk"><img src="assets/images/git.png" alt=""></a>
                    <a class="item-menu-footer" href="https://dribbble.com/dark_eren" target="_balnk"><img src="assets/images/dri.png" alt=""></a>
                </article>
                <article id="copyrigth">
                    <a href=""></a>Cesar's Pinedo 2020 © All Rights Reserved
                </article>
            </section>
        </div>
        <div id="carousel">
            <section>
                <div class="slider">
                    <ul>
                        <li>
                            <article><img src="assets/images/carousel/web.png" alt="">
                                <h4 class="text-carousel">Programador <br>Web</h4>
                            </article>
                        </li>
                        <li>
                            <article><img src="assets/images/carousel/deskrop.png" alt="">
                                <h4 class="text-carousel">Programador <br>Desktop</h4>
                            </article>
                        </li>
                        <li>
                            <article><img src="assets/images/carousel/mobile.png" alt="">
                                <h4 class="text-carousel">Programador <br>Movil</h4>
                            </article>
                        </li>
                        <li>
                            <article><img src="assets/images/carousel/arquitectura.png" alt="">
                                <h4 class="text-carousel">Arquitectura <br>in Cloud</h4>
                            </article>
                        </li>
                    </ul>
                    <a class="btn-cv" href="https://cesarspinedo.s3.amazonaws.com/CesarsCV.pdf" target="_balnk">Download CV</a>
                </div>
            </section>
            <!--<section>
              <article><img src="assets/images/carousel/web.png" alt="">
                  <h4 class="text-carousel">Programador <br> Web</h4>
                  <button class="btn-cv">Download CV</button>
              </article>
          </section>-->

        </div>
    </main>
</body>