<section class="section-content">
    <div>
        <div id="global">
            <div id="mensajes">
                <h1> Hola!,</h1>
                <p>
                    soy <strong>Cesar's Jose Manuel Pinedo Olivera</strong><br> egresado de la carrera técnica de "Desarrollo de Sistemas de Información" en IDAT.
                </p>
                <br>
                <p>
                    Desde hace un 3 años resido en Lima y hace un año trabajo como programador web en la empresa de transportes palomino , ahi aprendí:
                </p>
                <br>
                <ul>
                    <li>Facturación Electrónica</li>
                    <li>Struts2</li>
                    <li>Spring Frameworks</li>
                    <li>Spring Boot</li>
                    <li>Spring Security</li>
                    <li>Manejo del Servidor Tomcat en Centos 7</li>
                    <li>Ademas habilidades blandas, dando atención a los usuarios de la plataforma web</li>
                    <li>Implementé metodos de Pago , PagoEfectivo y Visa</li>
                </ul>
                <br>
                <p>Considero que la experiencia que obtuve es suficiente como para desarrollar mi propio E.I.R.L de desarrollo de software</p>
                <br>
            </div>
        </div>
        <!--<article>
            <p>Acerca De Hola! soy Cesar's Jose Manuel Pinedo Olivera soy egresado de la carrera técnica de "Desarrollo de Sistemas de Información" en IDAT.
            </p>
            <br>
            <p>
                Actualmente resido en Lima y trabajo como programador web en la empresa de transportes palomino, me interesa leer mucho sobre desarrollo de nuevas tecnologias, a lo largo de los proyectos que realicé use el cloud de AWS configurando un servidor ubuntu,
                para poder subir Rest webservices con tomcat.
            </p>
        </article>-->
    </div>
</section>