.section-content {
    width: 95%;
    height: 80%;
    margin: auto;
    display: flex;
    justify-content: start;
    align-items: center;
}

.section-content h4 {
    margin-left: 25px;
    margin-top: -160px;
    width: 100%;
    vertical-align: middle;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 50px;
    letter-spacing: 2px;
    word-spacing: 2px;
}

.section-content button {
    margin-left: 25px;
    border-style: solid;
    border-color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 45px;
    padding-right: 45px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border-radius: 5px;
    margin-top: 20px;
}